@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

.text-container {
  white-space: pre-wrap;
  font-family: sans-serif;
  line-height: 1.3;
}